@font-face {
    font-family: "BoldlyMissy";
    src: url("BoldlyMissy.otf") format("opentype");
}
@mixin flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
* {
    font-family: "BoldlyMissy", cursive;
}
body {
    background-color: rgb(13, 14, 14);
}
h1 {
    -webkit-text-stroke: 0.5px rgb(233, 145, 189);
    text-align: center;
    font-size: 4rem;
}
p {
    color: pink;
    font-size: 1.5rem;
}
input {
    margin-top: 5%;
    width: 60%;
    min-height: 150px;
    border-radius: 2%;
    background-color: rgb(250, 223, 227);
    font-size: 1.5rem;
    // since 16px is default, 24px becomes 1.5rem (rem:root element font size)
}
div {
    @include flex;
}
button {
    margin-top: 2%;
    border-radius: 90%;
    font-size: 2rem;
    padding: 0.5%;
    border: 3px solid hotpink;
}
.btn__container {
    flex-direction: row;
    justify-content: space-around;
}
